body{
    margin: 0;
    font-family:   "Poppins", sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color:rgb(45, 43, 180);
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.half-width {
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
}

.half-width img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .flex-row {
    flex-direction: column;
    text-align: center;
  } /*mobile*/

  .half-width {
    width: 100%;
    padding: 10px 0;
  }

  .half-width img {
    max-width: 90%;
    margin: auto;
  }
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,rgb(71, 25, 195));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}   
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#robotics-field{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#interest-field{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#achievment-field{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(155, 151, 44),rgb(178, 29, 78));
    border-image-slice: 1;
}
.gallery {
  display: flex;
  justify-content: center; /* or space-between / space-around */
  gap: 20px; /* spacing between images */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  padding: 20px;
}

.gallery img {
  width: 200px; /* adjust size as needed */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}
.social {
  display: flex;
  justify-content: center;
  gap: 30px; /* space between icons */
  margin: 40px 0;
}

.social {
  font-size: 40px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer p{
    text-align: center;
    font-size: 20px;

}

